@charset "UTF-8";
@font-face {
    font-family: 'Krinkes';
    src: url('fonts/KrinkesDecorPERSONAL.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Krinkes', Times, serif;
    font-size: 3em;
    text-align: center;
}