@charset "UTF-8";

body{
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: brown;
    text-align: center;
    text-decoration: overline;
    background-color: coral;
}
h2{
    color: chocolate;
    text-decoration: underline;
}
p{
    text-align: justify;
}